@import url('./custom.css');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;background-image: linear-gradient(to right, rgb(83, 4, 197), rgb(174, 17, 153));
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.parallel-div{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
}

.parallel-div>div:nth-child(1){
  width: 31.5%;
  /* border: 1px solid blue; */
}
.parallel-div>div:nth-child(2){
  width: 68.5%;
  /* border: 1px solid blue; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


/* background-image: linear-gradient(to right, rgb(83, 4, 197), rgb(174, 17, 153)); */
/* background: linear-gradient(113deg, #3500D4 0%, #F61C7A 100%); */